*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    
    display: flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 50px;
}
.logo {
    font-size: 25px;
    color: var(--logo-color);
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}
nav a{
    font-size:18px;
    color: var(--third-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
nav a:hover,
nav a.active{
    
        color: #0004ff;
    }








    :root{
        --primary-color: #edf2fc;
        --second-color: #ffffff;
        --third-color: black;
        --logo-color: black;
        
        
    }

    .dark-theme {
        --primary-color: #101623;
        --second-color: #0f172a;
        --third-color: #ffff;
        --logo-color: #ff0000;
      
        
      }